.navigation__list {
    list-style: none;
    padding: 10px 0;
    border-top: 1.5px solid #3d2902;
    border-bottom: 1.5px solid #3d2902;
    margin: 25px 0;
}

.navigation__item {
    margin: 10px 0;
}

.navigation__link {
    text-decoration: none;
    color: #054609;
}

.navigation__link:focus {
    color: currentColor;
}

.navigation__link:hover {
    color: #3d2902;
    border-bottom: 1px solid #054609;
    outline: none;
}

.navigation__link:active {
    color: #8e5617;
}
